@import '../../../node_modules/tachyons/css/tachyons.css';

body,
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'),
    url(./fonts/VarelaRound.woff2) format('woff2');
  unicode-range: U + 0000-00ff, U + 0131, U + 0152-0153, U + 02bb-02bc, U + 02c6,
    U + 02da, U + 02dc, U + 2000-206f, U + 2074, U + 20ac, U + 2122, U + 2212,
    U + 2215;
}

body {
  background: linear-gradient(#090909, #181724) fixed;
  color: #fff;
  font-family: 'Varela Round', sans-serif;
}

a,
a:hover,
a:active,
a:focus {
  outline: none !important;
}

.shadow-4 {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.app-container {
  background: url('../images/background.png') repeat-y center;
  min-height: calc(100vh - 200px);
}

#cd-timeline {
  position: relative;
}

#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 2px;
  background: white;
  border-radius: 10px;
}

@media only screen and (min-width: 50em) {
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}

.cd-timeline-block:after {
  content: '';
  display: table;
  clear: both;
}

.cd-timeline-img {
  border: 2px solid white;
  background: linear-gradient(70deg, #7f0fc9, #4d00ff);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 8px;
  left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.cd-timeline-block:nth-child(even) .cd-timeline-img {
  background: linear-gradient(#7f0fc9, #4d00ff);
}

@media only screen and (min-width: 50em) {
  .cd-timeline-img {
    width: 40px;
    height: 40px;
    left: 50%;
    margin-left: -21px;
    margin-top: 10px;
  }
}

.cd-timeline-content {
  border: 1px solid white;
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  padding: 1em;
}

.cd-timeline-content:after {
  content: '';
  display: table;
  clear: both;
}

.cd-timeline-content p,
.cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}

.cd-timeline-content .cd-date {
  display: inline-block;
  padding-top: 1rem;
}

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

@media only screen and (min-width: 48em) {
  .cd-timeline-content p {
    font-size: 1rem;
  }
  .cd-timeline-content .cd-date {
    font-size: 14px;
    padding-top: 0;
  }
}

@media only screen and (min-width: 50em) {
  .cd-timeline-content {
    color: white;
    margin-left: 0;
    width: 36%;
    margin: 0 5%;
  }

  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }

  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 132%;
    top: 28px;
    font-size: 16px;
    font-size: 1rem;
    text-align: left;
  }

  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }

  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }

  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 132%;
    text-align: right;
  }
}
