@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans-Bold.ttf);
  font-weight: bold;
}

@import "bulma/sass/utilities/initial-variables";

$family-sans-serif: "Open Sans", sans-serif;
$primary: $grey-light;
$family-primary: $family-sans-serif;
$size-1: 4rem;
$size-2: 2.5rem;
$text: $white-bis;

@import "bulma/bulma";

body {
  background-color: $black;
}

.title {
  color: $text;
  letter-spacing: 0.2rem;
}

.subtitle {
  color: $text;
}

.card {
  background-color: transparent;
  box-shadow: none;
}

a:hover {
  color: transparentize($grey-light, 0.5);
}

a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
  background-color: transparentize($grey-light, 0.1);
}
